.Timer {
  width: 20vw;
  height: 40vh;
  background-color: rgba(196, 196, 196, 0.858);
  position: absolute;
  left: 40%;
  top: 30%;
  border-radius: 15px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  width: 75%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

input::placeholder {
  font-size: 20px;
  padding-left: 3px;
}

button {
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.off {
  display: none;
}
